<h1>Meet <%= @kitten.name %>!</h1>

<ul>
  <li><strong>Age: </strong><%= @kitten.age %> years old</li>
  <li><strong>Cuteness:</strong><%= @kitten.cuteness %>/10</li>
  <li><strong>Softness:</strong><%= @kitten.softness%>/10</li>
</ul>

